<h1>Welcome to the Blog App!</h1>
<h2>Users: <%= @users.count %></h2>
<h1>All Users</h1>
<ul>
  <% @users.each do |user| %>
    <li><%= link_to user.name, user_path(user) %>: <%= link_to user.id, user_path(user) %></li>
  <% end %>
</ul>
