<div class="user-wrap">
  <div class="user-photo">
    <img src="<%= user.photo %>" class="img" alt="pic">
  </div>

  <div class="user-info">
    <h2><%= link_to(user.name, user_path(user)) %></h2>
    <p>Number of Posts: <%= user.posts.count %></p>
  </div>
</div>
