<div class="user-wrap">
  <div class="user-photo">
    <% if user.photo %>
            <img src="<%= user.photo %>" alt="profile-pic">
        <% else %>
            <p>Unknown picture</p>
        <% end %>
  </div>

  <div class="user-info">
    <h2><%= link_to user.name, user_path(user), id: "user-#{user.id}" %>
</h2>
    <p>Number of Posts: <%= user.posts.count %></p>
  </div>
</div>
