  <section>
  <%= render "shared/header", current_user: @current_user %>

  <%= render "shared/user", user: @user %>
    
    <% if @posts.empty? %>
        <p class="not-available">No post available</p>
    <% end %>
    <% @posts.each do |post| %>
        <%= render "shared/post", post: post %>
        <%= render "shared/comment", comments: post.last_five_comments, current_user: @current_user%>
    <% end %>

    <button class="link-btn" type="button">Pagination</button>

</section>